body {
    position: relative;
}
.shape {
    position: absolute;
    width: 300px;
    height: 300px;
    left: -300px;
    background-color: firebrick;
}

.slide {
    transition: 1s;
    left: 0;
}